@model IEnumerable<ProjetoBanco.Models.Estoque_Materia_Prima>

@{
    ViewBag.Title = "Estoque Matéria Prima";
}

<h2>Itens da tabela de Estoque de Materia Prima</h2>

<p>
    @Html.ActionLink("Criar novo item", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sequencia_Estoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Materia_Prima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sequencia_Estoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Materia_Prima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Sequencia_Estoque }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.Sequencia_Estoque }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.Sequencia_Estoque })
        </td>
    </tr>
}

</table>
