@model IEnumerable<ProjetoBanco.Models.Produtos_Finalizados>

@{
    ViewBag.Title = "ProdutosFinalizados";
}

<h2>Itens na tabela de Produtos Finalizados</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sequencia_Producao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Producao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sequencia_Producao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Producao)
            </td>
        </tr>
    }

</table>
