@model ProjetoBanco.Models.Materia_Prima

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes da Materia Prima</h2>

<div>
    <h4>Materia_Prima</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Custo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Custo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Estoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Estoque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { nome = Model.Nome }) |
    @Html.ActionLink("Back", "Index")
</p>
