@model IEnumerable<ProjetoBanco.Models.Mongo.Produto_Mongo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tempo_Producao_Minutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome_Materia_Principal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lucro_Producao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade_Estoque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tempo_Producao_Minutos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_Materia_Principal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lucro_Producao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade_Estoque)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { nome = item.Nome }) |
            @Html.ActionLink("Details", "Details", new { nome = item.Nome }) |
            @Html.ActionLink("Delete", "Delete", new { nome = item.Nome })
        </td>
    </tr>
}

</table>
