@model ProjetoBanco.Models.Produtos

@{
    ViewBag.Title = "Detalhes Produto";
}

<h2>Detalhes do Produto</h2>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Produtos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Produtos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempo_Producao_Minutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo_Producao_Minutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Materia_Principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Materia_Principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_Materia_Principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Materia_Principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lucro_Producao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lucro_Producao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Produtos, nome = Model.Nome}) |
    @Html.ActionLink("Back", "Index")
</p>
